*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
   
}
body
{
    background-color: #111111;
}
.main-header
{
    height: 400px;
    background-image: url('../img/pexels-neo-2653362.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.main-header h1
{
    color: white;
    padding-top: 12%;
    text-align: center;
    font-size: 60px;
}
nav
{
    background-color: white;
    
    
    
    
}
img
{
    width: 500px;
    
}


.search-bar
{
    position: absolute;
    top: 4%;
    right: 3%;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: -2px;
}

.search-button
{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: 0.4s;
}
.search-txt
{
    transform: translate(3%,0%);
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width:  0;
    
}
.search-bar:hover>.search-txt
{
    width: 240px;
    padding: 0 6px;
    
}

.search-bar:hover>.search-button
{
    background: white;
    
}
/*--------------------slide-bar---------------------------------------*/
.sidebar
{
    margin: 0;
    margin-top: -47px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333333;
    transition: all 0.5s ease;
}
.sidebar header
{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 47px;
    background: #202020;
    user-select: none;
}

ul
{
    margin-top: 20px;
}
.sidebar ul a
{
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    line-height: 80px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.4s;
}
.sidebar .option  li:hover a
{
    padding-left: 50px;
    
}
.sidebar ul a i{
    margin-right: 16px;
}
#check
{
    display: none;
}
label #btn,label #cancel
{
    position: absolute;
    cursor: pointer;
    border-radius: 6px;
}
label #btn
{
    left: 5px;
    top: 1px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s ease;
    position: fixed;
    
}
label #btn:hover
{
    color: #8C6E26;
}
label #cancel
{
    z-index: 1111;
    left: -195px;
    top: 4px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: 0.46s ease;
    position: fixed;
}
label #cancel:hover
{
    color: #8C6E26;
    
}
#check:checked ~ .sidebar
{
    left: 0;
}
#check:checked ~ label #btn
{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    
}
#check:checked ~ label #cancel
{
    left: 210px;
    
}
/*--------------------/slide-bar---------------------------------------*/



/*-----------------------about--------------------------------*/
.about
{
    text-align: center;
    color: white;
    margin-top: 100px;
    height: 600px;
}
.wh-heading
{
    padding: 50px;
}
.about h1
{
    padding-top: 50px;
}
.about-pic
{
 
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    padding: 50px;
}
.about-pic img
{
    height: 100%;
    width: auto;
}
.about-text
{
    width: 50%;
    height: 600px;
    display: block;
    float: left;
    padding: 50px;
    text-align: left;
}
.about-text h1
{
    font-size: 50px;
}
.about-text h2
{
    font-size: 20px;
    color: #8C6E26;
}
.about-text p
{
    padding-top: 40px;
    line-height: 30px;
    font-size: 15px;
}
/*-----------------------/about--------------------------------*/
/*---------------------------------sign in div------------------------------*/
.sign-in-div
{
    margin-top: 5600px;
    padding: 120px;
    color: aliceblue;
    text-align: center;
    border: solid 3px transparent;
    border-radius: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    transition: 0.3s ease;
}
.sign-in-div:hover
{
    border: solid 3px #8C6E26;
    box-shadow: 0px 0px 13px #8C6E26;
}
.sign-in-div h1
{
    font-size: 50px;
    margin-bottom: 30px;
}
.sign-in-div button
{
    margin-top: 60px;
    border-style: none;
    padding: 20px;
    background-color: #111111;
    color: white;
    font-size: 30px;
    font-weight: 600;
    border: solid 2px white;
    transition: 0.3s ease;
    border-radius: 6px;
}
.sign-in-div button:hover
{
    background-color: #8C6E26;
    color: #111111;
    border: solid 2px #8C6E26;
    box-shadow: 0px 0px 8px #8C6E26;
}
/*---------------------------------/sign in div------------------------------*/


/*---------------------------------footer------------------------------*/
footer
{
    background-color: #0A0A0A;
    height: 60px;
    color: aliceblue;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 15px;
}
footer i
{
    margin-right: 30px;
    transition: 0.3s ease;
}
footer i:hover
{
    color: #8C6E26;
}

/*---------------------------------/footer------------------------------*/